<html>
  <head>
    <title>Checkout</title>
  </head>

  <body>
    <form action="" method="POST">
      <input type="text" name="barcode" id="barcode" />
      <button type="submit" value="scan" />
    </form>
  </body>
</html>